# Secrets
secrets
certificates

# Environment
.env
WIP.md

# DB
mongodb/data
redis_data

# AI augmentation data
app/backend/langchain/retrieval_docs

# Byte-compiled / optimized / DLL files
*.pyc

# OS specific
.DS_Store
.vscode*
