<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PigeonMsg</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/main.js"></script>
</head>
<body>
    <header>
        <h1>PigeonMsg</h1>
    </header>
    <main>
        <section class="info-section">
            <p>Have an upcoming trip and need some help planning? Just text the number below!</p>
            <p>Our helpful <strong>AI - Pidge</strong>, will gladly scour the internet to assist you! If you have a more specific question, we'll connect you to another <strong>human</strong> who can help!</p>
        </section>
        <section id="contact-section">
            <img src="/static/favicon.ico" alt="Pigeon" />
            <div class="button-container">
                <button id="reveal-button">Reveal Number</button>
                <div id="number-container"></div>
            </div>
        </section>
    </main>
    <footer>
        <p>Check out the source code on <a href="https://github.com/nelson-ds/pigeon/" target="_blank">GitHub</a>.</p>
        <p>Contact us at <a href="mailto:pigeonmsg@protonmail.com">contact@pigeonmsg.com</a></p>
    </footer>    
</body>
</html>

