fastapi==0.115.0
uvicorn==0.32.0
twilio==9.3.0
python-dotenv==1.0.0
autopep8==2.0.2
pymongo==4.6.1
python-multipart==0.0.6
python-json-logger==2.0.7
Jinja2==3.1.2

langchain==0.3.0
langchain-openai==0.2.0
langchain-mongodb==0.2.0
langchain-community==0.3.0
langchain-core==0.3.0
langchain-text-splitters==0.3.0
chromadb==0.5.20
unstructured>=0.10.0
pysqlite3-binary

diagrams==0.23.4